.header__loading {
    font-size: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--bg-primary);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 50px calc(50% - 600px) 60px;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header__text {
    color: var(--text-primary);
    font-size: 18px;
    margin-top: 15px;
}

.header__auth {
    position: relative;
    display: flex;
    align-items: center;
}

.header__btnLogin {
    width: 103px;
    height: 52px;
}

/* Profile Menu */
.header__profileMenu {
    position: relative;
}

/* Кнопка профиля */
.profileMenu__btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 12px 16px;
    transition:
        background 0.3s ease,
        transform 0.2s ease;
}

.profileMenu__btn:hover {
    background: var(--btn-secondary-active);
}

.profileMenu__userAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.profileMenu__userName {
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 12px 0 20px;
}

.profileMenu__chevron {
    transition: transform 0.2s ease;
    color: var(--text-primary);
}

.profileMenu__chevronUp {
    transform: rotate(180deg);
}

/* Выпадающее меню профиля */
.header__dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    background-color: var(--bg-secondary);
    border-radius: 30px;
    padding: 30px;
    box-shadow: var(--shadow-all);
    min-width: 260px;
    z-index: 1000;
    animation: header__slideDown 0.2s ease;
}

@keyframes header__slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdownMenu__userName,
.dropdownMenu__userEmail {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
}

.dropdownMenu__userEmail {
    color: var(--text-grey);
    margin-bottom: 24px;
}

.dropdownMenu__btn {
    width: 100%;
}
