.profile {
    display: flex;
    align-items: center;
    gap: 33px;
    opacity: 1;
    border-radius: 30px;
    padding: 30px;
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-all);
    margin: 40px 0 60px;
}

.profile__avatar {
    width: 197px;
    height: 197px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.profile__userInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.profile__name {
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
}

.profile__login {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
}

.profile__logout {
    width: 192px;
    margin-top: 14px;
}

@media (max-width: 768px) {
    .profile {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin: 24px 0;
    }

    .profile__userInfo {
        gap: 20px;
        width: 100%;
    }

    .profile__name {
       font-size: 24px;
    }

    .profile__login {
        font-size: 16px;
    }

    .profile__logout {
        width: 100%;
        margin-top: 0;
    }
}
