.profilePage {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.profilePage__content {
    width: 100%;
    padding: 0 calc(50% - 600px);
}

.profilePage__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
}

/* Класс для состояния загрузки/перенаправления */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    font-size: 24px;
    color: var(--text-grey);
}

@media (max-width: 768px) {
    .profilePage__content {
        padding: 0 16px;
    }

    .profilePage__title {
        font-weight: 500;
        font-size: 24px;
    }
}
