.homePage {
    width: 100%;
    background-color: var(--bg-primary);
    padding: 0 calc(50% - 600px) 128px;
}

.container__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.text__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
}

.text__sloganWrapper {
    position: relative;
    min-width: 320px;
    display: flex;
    justify-content: flex-end;
}

.text__sloganBlock {
    background-color: var(--bg-block);
    border-radius: 5px;
    padding: 16px 20px;
    width: 288px;
    height: 102px;
}

.text__sloganTitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
}

.text__sloganImg {
    position: absolute;
    right: 147px;
    top: 88px;
    z-index: 1;
}

/* Блок карточек */
.container__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 40px;
}

/* Контейнер для модального окна поверх контента */
.modalWrapper {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Мобильные устройства (до 1024px) */
@media (max-width: 1024px) {
    /* Блок карточек */
    .container__cards {
        gap: 30px;
    }

    .text__title {
        font-size: 42px;
    }
}

/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
    .homePage {
        padding: 0 16px 128px;
    }

    .container__text {
        width: 100%;
        margin-bottom: 34px;
    }

    .text__title {
        font-size: 32px;
    }

    .text__sloganWrapper {
        display: none;
    }

    /* Блок карточек */
    .container__cards {
        gap: 24px;
    }
}
