/* Загрузка / не найдено */
.loading,
.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.notFound__btn {
    width: 150px;
    margin-top: 40px;
}

/* Заголовки разделов */
.notFound__text,
.conditions__title,
.directions__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    margin: 60px 0 40px;
}

/* Страница курса */
.page {
    min-height: 100vh;
    background-color: var(--bg-primary);
    padding: 0 calc(50% - 600px) 128px;
}

/* Шапка курса — с динамическим фоном и картинкой */
.header {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    overflow: hidden;
    height: 310px;
    gap: 10px;
}

.header__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: var(--text-secondary);
    margin: 40px 0 0 40px;
    flex: 1;
}

.header__image {
    height: 100%;
    width: 100%;
    max-width: 545px;
}

/* Описание курса */
.description {
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-all);
    border-radius: 30px;
    padding: 40px;
    margin-top: 60px;
}

.description__info {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
}

.description__boldedTerm {
    font-weight: 700;
}

/* Блок "Подойдет для вас, если" */
.conditions__block {
    display: flex;
    gap: 17px;
}

.condition {
    display: flex;
    gap: 25px;
    align-items: center;
    background: linear-gradient(115.81deg, #151720 34.98%, #1e212e 91.5%);
    border-radius: 28px;
    padding: 20px;
}

.condition__number {
    font-weight: 500;
    font-size: 75px;
    line-height: 135%;
    color: var(--btn-primary);
}

.condition__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    color: var(--text-secondary);
}

/* Направления */
.directions__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    background-color: var(--btn-primary);
    padding: 30px;
    border-radius: 28px;
}

.direction {
    display: flex;
    align-items: flex-end;
    gap: 11px;
}

.direction__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
}

/* CTA-блок с бегуном */
.cta {
    position: relative;
    margin-top: 102px;
    padding: 40px;
    width: 100%;
    height: 486px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    border-radius: 30px;
    box-shadow: var(--shadow-all);
    box-sizing: border-box;
}

.cta__content {
    width: 100%;
    max-width: 437px;
    position: relative;
    z-index: 2;
}

.cta__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
}

.cta__benefits {
    padding: 0;
    margin: 28px 0;
}

.cta__benefits li {
    font-weight: 400;
    font-size: 24px;
    line-height: 148%;
    padding-left: 38px;
    list-style: none;
    position: relative;
}

.cta__benefits li::before {
    content: "•";
    position: absolute;
    left: 14px;
    font-weight: bold;
    font-size: 24px;
}

/* Кнопки */
.cta__btn {
    width: 437px;
    transition: all 0.2s;
}

/* Блок с бегуном */
.cta__images {
    position: absolute;
    flex-shrink: 0;
    width: 493px;
    height: 100%;
    top: 0;
    right: 0;
    transform-origin: center center;
    transition: transform 0.3s ease;
    clip-path: inset(-100% -100% 0 -100%);
    z-index: 1;
}

.cta__img {
    position: absolute;
}

.img1 {
    z-index: 2;
    top: -86px;
    left: -10px;
}

.img2 {
    z-index: 1;
    top: 90px;
    left: -150px;
}

.img3 {
    z-index: 1;
    top: 35px;
    left: 75px;
}

@media (max-width: 1024px) {
    .header__title {
        font-weight: 500;
        font-size: 34px;
        margin: 30px 0 0 30px;
    }
}

@media (max-width: 768px) {
    /* Страница курса */
    .page {
        padding: 0 16px 128px;
        position: relative;
        overflow: hidden;
    }

    /* Заголовки разделов */
    .notFound__text,
    .conditions__title,
    .directions__title {
        font-weight: 500;
        font-size: 24px;
        margin: 40px 0 24px;
    }

    /* Страница курса */
    .header {
        flex-direction: column;
        text-align: center;
        height: 389px;
    }

    .header__content {
        display: none;
    }

    /* Мобильные настройки фона для каждого курса */
    .header__image {
        max-width: 100%;
    }
    .header__image_yoga {
        background-size: auto 145% !important;
        background-position: center -60px !important;
    }

    .header__image_stretching {
        background-size: auto 100% !important;
        background-position: center 0 !important;
    }

    .header__image_fitness {
        background-size: auto 100% !important;
        background-position: center 0 !important;
    }

    .header__image_aerobics {
        background-size: auto 110% !important;
        background-position: center -20px !important;
    }

    .header__image_bodyflex {
        background-size: auto 120% !important;
        background-position: center -40px !important;
    }

    /* Описание курса */
    .description {
        display: none;
    }

    /* Блок "Подойдет для вас, если" */
    .conditions__block {
        flex-direction: column;
    }

    /* Направления */
    .directions__block {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .direction__text {
        font-size: 18px;
    }

    /* CTA-блок с бегуном */
    .cta {
        margin-top: 156px;
        height: auto;
        padding: 0;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .cta__content {
        padding: 30px;
        max-width: 100%;
        background-color: var(--bg-secondary);
        border-radius: 30px;
        box-shadow: var(--shadow-all);
    }

    .cta__title {
        font-size: 32px;
    }

    .cta__benefits li {
        font-size: 18px;
        line-height: 158%;
        padding-left: 28px;
    }

    .cta__benefits li::before {
        left: 7px;
        font-size: 18px;
    }

    /* Кнопки */
    .cta__btn {
        width: 100%;
    }

    /* Блок с бегуном для мобилки */
    .cta__images {
        top: -260px;
        right: -5px;
        width: 300px;
        height: 400px;
    }

    .img1 {
        top: 0;
        left: 50px;
        width: 313px;
        height: 352px;
    }

    .img2 {
        top: 115px;
        left: -60px;
        width: 375px;
        height: 290px;
    }

    .img3 {
        top: 80px;
        left: 110px;
        width: 37px;
        height: 32px;
    }
}
