.page {
    min-height: 100vh;
    background-color: var(--bg-primary);
    padding: 0 calc(50% - 600px) 50px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0px;
}

/* Загрузка / не найдено */
.loading,
.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

/* Шапка курса — с динамическим фоном и картинкой */
.header {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    overflow: hidden;
    height: 310px;
    gap: 10px;
    margin-top: 36px;
}

.header__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0px;
    color: var(--text-secondary);
    margin: 40px 0 0 40px;
}

.header__image {
    flex: 1;
    height: 100%;
    min-width: 300px;
}

/* Описание курса */
.description {
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-all);
    border-radius: 30px;
    padding: 40px;
    margin: 60px 0;
}

.description__title {
    font-weight: 700;
}

.description__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0px;
    vertical-align: middle;
}

/* Условия - блок "Подойдет для вас, если" */
.conditions__block {
    display: flex;
    gap: 17px;
    margin: 40px 0 60px;
}

.condition {
    background: linear-gradient(115.81deg, #151720 34.98%, #1e212e 91.5%);
    border-radius: 28px;
    padding: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.condition__number {
    font-weight: 500;
    font-size: 75px;
    line-height: 135%;
    letter-spacing: 0px;
    color: var(--btn-primary);
}

.condition__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    color: var(--text-secondary);
}

/* Направления */
.directions__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    background-color: var(--btn-primary);
    padding: 30px;
    margin-top: 40px;
    border-radius: 28px;
}

.direction {
    display: flex;
    align-items: center;
    gap: 11px;
}

.direction__span,
.direction__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0px;
}

/* CTA-блок с бегуном */
.cta {
    height: 486px;
    margin: 102px 0 0;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--bg-secondary);
    border-radius: 30px;
    position: relative;
    box-shadow: var(--shadow-all);
}

.cta__content {
    max-width: 427px;
    margin: 40px 0 40px 40px;
}

.cta__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.benefits {
    padding: 0;
    margin: 28px 0;
}

.benefits li {
    font-weight: 400;
    font-size: 24px;
    line-height: 148%;
    letter-spacing: 0px;
    padding-left: 38px;
    list-style: none;
    position: relative;
}

.benefits li::before {
    content: "•";
    position: absolute;
    left: 14px;
    font-weight: bold;
    font-size: 24px;
}

/* Кнопки */
.cta__btn {
    width: 100%;
    transition: all 0.2s;
}

.cta__image {
    flex-shrink: 0;
    position: absolute;
}

/* Блок с бегуном */
.cta__imagesContainer {
    position: relative;
    flex: 1;
    height: 100%;
    min-width: 200px;
}

.cta__image {
    position: absolute;
    background-size: cover;
}

.img1 {
    z-index: 10;
    top: -100px;
    left: 100px;
    rotate: -2.99deg;
}

.img2 {
    z-index: 2;
    top: -87px;
    left: 172px;
}

/* Адаптивность */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
}
